
.del-btn {
text-align: center;
position: relative;
bottom: 50px;

}
.debtAlert{
    color: red;
}

.gradient-custom {
    background: #bab2c4;
    
    background: -webkit-linear-gradient(to right, rgb(172, 161, 184), rgba(37, 117, 252, 1));
    
    background: linear-gradient(to right, rgb(17, 181, 203), rgba(37, 117, 252, 1))
    }

th{
/* margin-left: 30px; */
border: 1px solid;
}
table{
    width: 60rem;
    margin-bottom: 70px ;
    margin-left: 20rem;
}

td{
    border: 1px solid;

}
.amtdata{
    color: red;
}
.debtdata{
    color: red;
}
.prodCost{
    color: blue;
}

.notexist{
    color: red;
}

.debtAlert{
    color: red;
}
/* .form-select{

    width: 40rem;
    margin-left: 30px;
} */

.baldata{
    color: rgb(82, 144, 99);
}

.deleteBtn{
    border: 1px solid;
    border-radius: 5px;
}
.home{
    background-image: url("image\Cocoa-5.jpg");
    width: 200px;
    /* background-color: red; */
}

.image{
    width:96rem;
    height: 46.5rem;
    opacity: 0.7;
}

input{
    width: 200px;
}

.space-margin{
    margin: 0 80px 0 80px;
}
.addloan{
    text-align: center;
    margin-top: 20px;
}
.sales{
    text-align: center;
    margin-top: 20px;
}

.register{
    text-align: center;
    margin-top: 20px;
}

.h1{
    position: absolute;
    text-align: center;
    margin-left: 440px;
    top: 120px;
    font-size: larger;
}
.divh1{
    color: black;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.intro{
    position: absolute;
    text-align: center;
    margin-left: 480px;
    top: 180px;
    font-size: larger;
    color: rgba(70, 62, 62, 0.918);
}